<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
    <class name="co.testcase.logintestcase"/>
      <class name="co.testcase.xsxzglCase"/>
      <class name="co.testcase.yetestCase"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
